.formulario {
    background-color: white;
    background-image: none !important;
    width: 50%;
    position: absolute;
    margin: 8% 20% 2px 20%;
    border: 1px solid #bfbdbd;
}

.areaFormulario {
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    background-color: #949494;
}

h2 {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 18px;
}

form>div {
    padding-left: 20px;
    padding-right: 20px;
}