<div class="areaFormulario">

  <form class="formulario" class="formulario" [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <h2 class="text-center">Novo cadastro</h2>
    <div class="form-group required">
      <label>Nome</label>
      <input class="form-control" formControlName="name">
      <label class="text-danger"
        *ngIf="service.formModel.get('name').touched && service.formModel.get('name').errors?.required">Informe o
        nome.</label>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="email">
      <label class="text-danger"
        *ngIf="service.formModel.get('email').touched && service.formModel.get('email').errors?.email">Endereço de email
        inválido.</label>
    </div>
    <div class="form-group">
      <label>Login</label>
      <input class="form-control" formControlName="login">
      <label class="text-danger"
        *ngIf="service.formModel.get('login').touched && service.formModel.get('login').errors?.required">Informe o
        login.</label>
      <label class="text-danger"
        *ngIf="service.formModel.get('login').touched && service.formModel.get('login').errors?.minlength">Crie
        um login com no mínimo 4 caracteres.
      </label>
    </div>
    <!-- <div formGroupName="Passwords"> -->
    <div class="form-group required">
      <label>Senha</label>
      <input type="password" class="form-control" formControlName="password">
      <label class="text-danger"
        *ngIf="service.formModel.get('password').touched && service.formModel.get('password').errors?.required">Informe
        a senha.</label>
      <label class="text-danger"
        *ngIf="service.formModel.get('password').touched && service.formModel.get('password').errors?.minlength">Crie
        uma senha com no mínimo 4 caracteres.
      </label>
    </div>
    <div class="form-group required">
      <label>Confirmar Senha</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
      <label class="text-danger"
        *ngIf="service.formModel.get('confirmPassword').touched && service.formModel.get('confirmPassword').errors?.required">
        Confirme a senha</label>
      <label class="text-danger"
        *ngIf="service.formModel.get('confirmPassword').touched && service.formModel.get('confirmPassword').errors?.passwordMismatch">Senha
        não confere.</label>
    </div>
    <!-- </div> -->
    <div class="form-row">
      <div class="form-group col-md-8">
        <button class="btn btn-block btn-primary" href="#" role="button" [disabled]="!service.formModel.valid">
          <i class="fas fa-user-plus"></i>
          Cadastrar</button>
      </div>
      <div class="form-group col-md-4">
        <a class="btn btn-block btn-secondary" href="#" role="button" routerLink="/user/login">Voltar</a>
      </div>
    </div>
  </form>

</div>